.iconWrapper {
  position: absolute;
}

.icon {
  font-size: 18px;
  color: #6c757d;
}

.emailIcon,
.passwordIcon {
  right: 5%;
  top: 5%;
}

.passwordIcon {
  cursor: pointer;
}

.errorAlert {
  position: fixed;
  top: 2%;
  left: 82%;
  z-index: 1050;
  width: 250px;
  display: flex;
  justify-content: space-between;
}

