.iconWrapper {
  position: absolute;
}

.icon {
  font-size: 18px;
  color: #6c757d;
}

.emailIcon,
.passwordIcon {
  right: 5%;
  top: 5%;
}

.passwordIcon {
  cursor: pointer;
}

.errorAlert {
  position: fixed;
  top: 50%;
  left: 20%;
  z-index: 1050;
}

